/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# 必要なフォルダは除外しない設定
!/storage/app/public
!/storage/app/public/images

# データベースのデータ（重たいので除外）
/docker/mysql/data

# OSの不要なファイル
.DS_Store
Thumbs.db

# Laravelのキャッシュ・ログ（動作を軽くするために除外）
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views